body{
  background:url("./loginbg.jpg");
}
div.item{
  background:none;
  border-bottom:0;
}
div.item label{
  color:#FFF;
  font-size:1.25em;
  font-weight:bold;
  letter-spacing:-1px;
}
.page{
  margin-top:5%;
  display:none;
}
.menuoverlay{
  position:fixed;
  bottom:0;
  background:url("./menuoverlay.png");
  height:190px;
  width:100%;
  color:rgba(255,255,255,.99);
}
.menuoverlay > h1{
  font-size:1.25em;
  font-weight:bold;
  float:left;
  margin-top:100px;
  text-align:left;
  padding-left:10px;
  letter-spacing:-1px;
  max-width:40%;
}
.menuoverlay > h1 > .small{
  font-size:.8em;
  color:rgba(255,255,255,.40);
  display:block;
  font-weight:lighter;
  padding-left:0;
  margin-left:0;
  margin-right:0;
}
.menuoverlay > h1:last-child{
  padding-right:10px;
  float:right;
  text-align:right;
}
.menuoverlay > h1:last-child span{
  text-align:right;
  padding-right:0;
}
.menuoverlay > h1:last-child:after{
  content: " ";
  clear:both;
  height:0;
}
div.error{
  color:#F00;
  font-size:1em;
  font-weight:bold;
  text-align:center;
}
